version: '3.8'

services:
  # Django Instances
  django:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8000 EngageX_Streaming.asgi:application"
    environment:
      - APP_PORT=8000
    ports:
      - "8000:8000"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-2:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8001
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8001 EngageX_Streaming.asgi:application"
    ports:
      - "8001:8001"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-3:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8002
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8002 EngageX_Streaming.asgi:application"
    ports:
      - "8002:8002"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-4:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8003
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8003 EngageX_Streaming.asgi:application"
    ports:
      - "8003:8003"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-5:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8004
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8004 EngageX_Streaming.asgi:application"
    ports:
      - "8004:8004"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-6:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8005
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8005 EngageX_Streaming.asgi:application"
    ports:
      - "8005:8005"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-7:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8006
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8006 EngageX_Streaming.asgi:application"
    ports:
      - "8006:8006"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-8:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8007
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8007 EngageX_Streaming.asgi:application"
    ports:
      - "8007:8007"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-9:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8008
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8008 EngageX_Streaming.asgi:application"
    ports:
      - "8008:8008"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-10:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8009
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8009 EngageX_Streaming.asgi:application"
    ports:
      - "8009:8009"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-11:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8010
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8010 EngageX_Streaming.asgi:application"
    ports:
      - "8010:8010"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-12:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8011
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8011 EngageX_Streaming.asgi:application"
    ports:
      - "8011:8011"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-13:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8012
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8012 EngageX_Streaming.asgi:application"
    ports:
      - "8012:8012"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-14:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8013
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8013 EngageX_Streaming.asgi:application"
    ports:
      - "8013:8013"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  django-15:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    environment:
      - APP_PORT=8014
    command: /bin/sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8014 EngageX_Streaming.asgi:application"
    ports:
      - "8014:8014"
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env

  # Celery Workers
  celery:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-2:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-3:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-4:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-5:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-6:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-7:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-8:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-9:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-10:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-11:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-12:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-13:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-14:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-15:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env
  celery-16:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming worker --loglevel=info --pool=prefork
    healthcheck:
      test: ["CMD", "./check-celery.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - tmp-data:/tmp
    env_file:
      - .env

  celery-flower:
    image: 266735827053.dkr.ecr.us-west-1.amazonaws.com/engagex-streaming:latest
    command: celery -A EngageX_Streaming flower --loglevel=info
    ports:
      - "5555:5555"
    env_file:
      - .env

volumes:
  tmp-data:
